<div class="home-category-sidebar">
  <div class="home-category-list">
    <a href="/products?category=phone" class="home-category-item" id="homeCatPhone">
      <i class="bi bi-phone"></i><span>Điện thoại</span>
    </a>
    <a href="/products?brand=apple" class="home-category-item" id="homeCatiPhone">
      <i class="bi bi-phone"></i><span>iPhone</span>
    </a>
    <a href="/products?category=tablet" class="home-category-item" id="homeCatTablet">
      <i class="bi bi-tablet"></i><span>Máy tính bảng - iPad</span>
    </a>
    <a href="/products?category=apple-official" class="home-category-item" id="homeCatApple">
      <i class="bi bi-apple"></i><span>Apple Chính Hãng</span>
    </a>
    <a href="/products?category=used" class="home-category-item" id="homeCatUsed">
      <i class="bi bi-arrow-counterclockwise"></i><span>Máy cũ</span>
    </a>
    <a href="/products?category=smartwatch" class="home-category-item" id="homeCatWatch">
      <i class="bi bi-watch"></i><span>Smart Watch</span>
    </a>
  </div>
</div>
