<nav class="col-md-2 d-md-block bg-light sidebar">
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="/admin/dashboard">
          <i class="bi bi-speedometer2"></i> Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/products">
          <i class="bi bi-box"></i> Sản phẩm
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/flashsale">
          <i class="bi bi-lightning-fill text-warning"></i> Flash Sale
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/categories">
          <i class="bi bi-tags"></i> Danh mục
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/orders">
          <i class="bi bi-cart"></i> Đơn hàng
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/users">
          <i class="bi bi-people"></i> Người dùng
        </a>
      </li>
    </ul>
  </div>
</nav>
